@tailwind base;
@tailwind components;
@tailwind utilities;

.Header {
  @apply bg-[#70AA77] w-[1537px] h-[80px] mx-auto flex items-center;
}

.logoBe {
  width: 220px;
  height: 190px;
  @apply absolute top-[px] object-contain ml-1
}

.SearchBar{
  @apply absolute top-[15px] left-[405px] w-[700px] h-[50px] bg-white rounded-[80px] border border-black flex items-center px-6
}

.TextInSearchBar{
  @apply w-full font-light text-[#4f4f4f] text-2xl bg-transparent outline-none
}